.label {
  display: block;
  margin-top: 30px;
  color: #666;
  font-size: 0.9rem;
  font-weight: bold;
}

.input {
  padding: 15px;
  margin: 8px 0;
  width: 100%;
}

.errorMessage {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

.input:invalid[focused="true"] {
  border: 1px solid red;
}

.input:invalid[focused="true"] ~ .errorMessage {
  display: block;
}
