.label {
  display: block;
  margin-top: 25px;
  color: #666;
  font-size: 0.9rem;
  font-weight: bold;
}

.input {
  width: 100%;
  margin: 5px 0;
  padding: 15px;
  border: 2px solid #aaa;
  border-radius: 2px;
}

.errorMessage {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

.input:invalid[focused="true"] {
  border: 1px solid red;
}

.input:invalid[focused="true"] ~ .errorMessage {
  display: block;
}
