.wrapper {
  width: 100%;
  text-align: center;
}

.button {
  display: block;
  border: 1px solid var(--border-color);
  color: #444;
  width: 100%;
  height: var(--clickable-height);
  line-height: var(--clickable-height);
}

.button:hover {
  background-color: rgba(250, 250, 250, 0.9);
}
