.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: var(--max-width);
  margin: 30px auto 50px;
}

@media (width < 768px) {
  .container {
    gap: 20px;
    width: 87%;
    margin: 20px auto 30px;
    padding: 10px 0;
  }
}
