.description {
  margin: 50px auto;
  width: 55%;
}

@media (width < 768px) {
  .description {
    margin: 20px auto;
    width: 100%;
    padding: 20px;
  }
}

.open,
.close {
  border: 1px solid #bbb;
}

.heading {
  font-size: clamp(1.05rem, 2vw, 1.25rem);
  text-align: center;
}

.heading button {
  all: unset;
  outline: revert;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 1em;
  display: flex;
  align-items: center;
}

.icon {
  color: #888;
  font-size: 1.25rem;
  transition: 0.5s;
}

.open .icon {
  transform: rotate(180deg);
}

.text {
  overflow: hidden;
  height: 0px;
  transition: none;
}

.open .text {
  animation: openAnime 0.5s forwards;
}

.close .text {
  animation: closeAnime 0.5s forwards;
}

@keyframes openAnime {
  0% {
    height: 0px;
  }
  99% {
    height: var(--text-height);
  }
  100% {
    height: auto;
  }
}

@keyframes closeAnime {
  0% {
    height: var(--text-height);
  }
  100% {
    height: 0px;
  }
}

.textInner {
  padding: 1em 3em 1.14em;
  font-size: clamp(0.95rem, 1.8vw, 1rem);
}

@media (width < 768px) {
  .textInner {
    padding: 1em 1em 1.14em;
  }
}

.textInner p {
  text-indent: 0.75rem;
  margin-bottom: 10px;
  line-height: 1.65;
}

.textInner ol {
  width: 90%;
  margin: 20px auto;
}

.textInner li {
  margin-bottom: 8px;
}
