.wrapper {
  padding: 12px 0;
  border-bottom: 1px solid var(--border-color);
}

.pageTitle {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}

.date {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 0.95rem;
}