.main {
  max-width: var(--max-width);
  margin: 50px auto;
}

@media (width < 768px) {
  .main {
    margin: 20px auto;
    padding: 10px 0;
    width: 87%;
  }
}

.section {
  margin: 50px 0;
}

.h1 {
  margin-bottom: 10px;
  font-size: clamp(1.45rem, 2vw, 2.5rem);
}

.h2 {
  margin-bottom: 10px;
  font-size: clamp(1.35rem, 1.4vw, 1.65rem);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px auto;
  list-style: none;
}

.list li {
  border: 1px solid var(--border-color);
  padding: 8px 15px;
}

.list li:hover {
  background-color: rgba(250, 250, 250, 0.9);
}

.list a {
  color: #444;
  font-size: clamp(0.9rem, 1.35vw, 1.05rem);
}
